extends layout

block content
    h1 Ricochet

    audio.player(src='', preload='auto', volume='0')

    nav.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
        .container-fluid
            p.navbar-text.navbar-right.controls
                span.duration
                i.prev.fa.fa-lg.fa-fw.fa-backward
                i.fa.fa-lg.fa-fw
                i.play.fa.fa-lg.fa-fw.fa-play
                i.fa.fa-lg.fa-fw
                i.next.fa.fa-lg.fa-fw.fa-forward
            p.navbar-text.now-playing
                span.artist
                span.title
            .progress

    table.table.table-striped.table-hover.table-responsive.library
        each track, index in library
            if track
                tr.track(href="#", data-track_id=track.id, data-track_title=track.title, data-track_artist=track.artist)
                    td.col-md-4= track.title
                    td.col-md-1= track.duration
                    td.col-md-2= track.artist
                    td.col-md-2= track.album
                    td.col-md-1= track.track_num

    script(type='text/javascript', src='/js/stream.js')


