extends layout

block content
    h1 Streaming Library

    audio.player(src='', preload='auto', volume='0')

    nav.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
        .container-fluid
            p.navbar-text.navbar-right.controls
                span.duration
                i.prev.fa.fa-lg.fa-fw.fa-backward
                i.fa.fa-lg.fa-fw
                i.play.fa.fa-lg.fa-fw.fa-play
                i.fa.fa-lg.fa-fw
                i.next.fa.fa-lg.fa-fw.fa-forward
            p.navbar-text.now-playing
                span.artist
                span.title
            .progress

    table.table.table-striped.table-hover.table-responsive.library
        each track, index in library
            if track
                if track.tags.title
                    tr.track(href="#", data-track_id=index, data-track_title=track.tags.title, data-track_artist=track.tags.artist)
                        td.col-md-4= track.tags.title
                        td.col-md-1= track.tags.duration
                        td.col-md-2= track.tags.artist
                        td.col-md-2= track.tags.album
                        td.col-md-1= track.tags.track[0]
                else
                    tr.track(href="#", data-track_id=index)
                        td.col-md-12 track.base

    script(type='text/javascript', src='/js/stream.js')


