extends layout

block content
    audio.player(src='', preload='auto', volume='0')

    .global-alerts
        #global-success.global-alert.alert.alert-success
        #global-error.global-alert.alert.alert-danger

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/') Ricochet
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        i.fa.fa-lg.fa-fw.fa-gear
                        i.fa.fa-lg.fa-fw.fa-caret-down
                    ul.dropdown-menu(role='menu')
                        li
                            a#reindex(href='#') Reindex


    nav.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
        .container-fluid
            p.navbar-text.navbar-right.controls
                span.duration
                i.prev.fa.fa-lg.fa-fw.fa-backward
                i.fa.fa-lg.fa-fw
                i.play.fa.fa-lg.fa-fw.fa-play
                i.fa.fa-lg.fa-fw
                i.next.fa.fa-lg.fa-fw.fa-forward
            p.navbar-text.now-playing
                span.artist
                span.title
            .progress

    table.table.table-striped.table-hover.table-responsive.library
        each track, index in library
            if track
                tr.track(href="#", data-track_id=track.id)
                    td.col-md-4.title= track.title
                    td.col-md-1.duration= track.duration
                    td.col-md-2.artist= track.artist
                    td.col-md-2.album= track.album
                    td.col-md-1.track_num= track.track_num

    script(type='text/javascript', src='/js/stream.js')


